* {
    padding: 0;
    margin: 0;
}

body {
    background-color: aqua;

}

.main-menue {
    height: 60px;
    background-color: black;
    text-align: center;
    max-width: 100%;
    background-attachment: fixed;
}

.main-menue ul {
    display: inline-flex;
    position: relative;

}

.main-menue ul li {

    list-style: none;
    margin-left: 25px;
    padding: 10px;
    margin-top: 15px;
}

.main-menue ul li a {
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

}

.active,
.main-menue ul li:hover {
    background-color: rgb(34, 224, 59);
    border-radius: 20px;
}

.sub-menue {
    display: none;
}

.main-menue ul li:hover .sub-menue {
    display: block;

}

.main-menue ul li:hover .sub-menue ul {
    display: block;
    position: absolute;
    left: 70px;
    top: 5px;
    background-color: black;
}

.main-menue ul li:hover .sub-menue ul li {
    border-bottom: 1px solid yellow;
    text-align: left;
    padding: 5px;

}

/* .main-menue ul li:hover .sub-menue ul li a:hover{
    background-color: pink;
} */
.main-menue ul li:hover .sub-menue ul li:last-child {
    border-bottom: none;
}

#menue-photo {
    display: none;
}






/*This is Login Page Style*/
form {
    display: flex;
    background-color: black;
    text-align: center;
    height: 400px;
    width: 400px;
    color: white;
    position: relative;

    top: 100px;
    border: 3px solid yellow;
    border-radius: 25px;
    justify-content: center;
}

fieldset {
    position: relative;
    border-radius: 15px;
    width: 300px;
    height: 260px;
    margin-left: -250px;
    margin-top: 80px;
}

#username,
#pswd,
#submit,
#captcha,
#newcaptcha1 {
    height: 20px;
    width: 200px;
    font-weight: bold;
    font-size: medium;
    border: 2px solid cyan;
    border-radius: 10px;
    padding: 0px 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#submit {
    border: 2px solid rgb(23, 47, 228);
    width: 60px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.captcha-box {
    width: 150px;
    position: relative;
    bottom: -5px;
    height: 70px;
}

#captcha {
    position: relative;
    width: 100px;

}

.captch-refresh {
    height: 25px;
    width: 25px;
    position: relative;
    bottom: -0px;
}


#newcaptcha1 {
    width: 120px;
    background-color: white;
    position: absolute;
    right: 10px;
    bottom: 80px;
    height: 40px;
    color: black;
    font-size: large;
    padding-top: 5px;
    letter-spacing: 2px;

}

#labour1 {
    float: right;
    position: relative;
    z-index: -1;
    height: 500px;
}

.menue-div {
    display: none;
}

.contact {
    display: none;

}

.main-footer {
    background-color: black;
    position: absolute;
    color: white;
    bottom: 0px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: italic;
    letter-spacing: 2px;

}

.main-footer span {

    margin-left: 400px;
}

@media only screen and (max-width:700px) {

    #menue-photo {
        display: block;
        height: 40px;
        width: 30px;
        float: right;


    }

    .main-menue {
        display: none;

    }

    .menue-div {
        display: block;
        background-color: yellow;
        height: 40px;
        font-size: 35px;
        text-align: center;


    }

    .contact {
        display: block;
        background-color: black;
        color: aliceblue;
        text-align: center;
        height: 60px;
        padding: 5px;
    }

    .main-menue {
        display: block;


    }

    .main-menue ul {
        position: absolute;
        display: none;
        width: 100%;
        background-color: black;
        margin-top: 5px;
    }

    #labour1 {
        margin-top: -60px;
        height: fit-content;
        width: fit-content;
        z-index: 5;
    }

}